.article-section{
    padding-left: 15vh;
    padding-right: 15vh;
}

.article-section-header{
    padding-top: 10%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.article-wrapper{
    display: flex;
    justify-content: space-between;
}

.article{
    max-width: 25vw;
    cursor: pointer;
}
.article-img-wrapper{
    position: relative;
    display: flex;
    overflow: hidden;
}
.article-img{
    transition: .3s ease;
    width: 100%;
}
.article:hover .article-img{
    transform:scale(110%);
}
.article:hover p{
    text-decoration: underline;
}