.video-section{
    padding-left: 15vh;
    padding-right: 15vh;
}

.video-section-header{
    padding-top: 10%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.video-wrapper{
    display: flex;
    overflow-x: auto;
}
.video{
    min-width: 300px;
    margin-right: 2%;
    max-width: 25vw;
    cursor: pointer;
}
.video-img-wrapper{
    position: relative;
    display: flex;
    background-color: #555;
    overflow: hidden;
}
.video-img{
    transition: .3s ease;
    width: 100%;
}
.video:hover .video-img{
    transform:scale(110%);
}
.play-logo{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    background-color: #35353577;
    transition: .3s ease;
}
.video:hover .play-logo{
    transform:translate(-50%, -50%) scale(120%);
}