@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.sign-in-up-content {
    display: flex;
    flex-direction: column;
}

.sign-in-up-content input {
    width: 100%;
    padding: 13px 20px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}

.sign-in-up-content > .heading {
    margin:0;
    font-size: 3.2rem;
    text-wrap: wrap;
    font-family: "Days One";
}

.sign-in-up-content > h4 {
    margin: 0 0 40px 0;
}
.sign-in-up-content >input:focus {
    outline: none;
}
.sign-in-up-content > p, .sign-in-up-content > ul {
    margin: 0;
}
.sign-in-up-content > ul > li {
    line-height: 1.5rem;

}

.sign-in-up-content > .orange-button {
    width: 70%;
}

.center {
    display: flex;
    justify-content: center;
}

.sign-in-out-block {
    position: relative;
}

.sign-up-block {
    height: 155px;
}

.sign-in-block {
    height: 60px;
}

.remember-me {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

/* .sign-in-up-content > .center {
    width: 100px;
} */

.link {
    color: black;
}

.requirement-met {
    color: #4CAF50;
    font-weight: 500;
  }
  
  .orange-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
  }