.big-job-card {
   
    position: relative;
    height: 100%;
}
.big-job-card > div {
    padding: 4px;
}

.big-job-card-description > p {
    width: 100%;
}


.apply-button {
    position: absolute;
    bottom: 7.5%; /* Position the button at the bottom of the card */
    right: 10%;
    padding: 20px 40px;
    background-color: #E9915B;
    
    color: white;
    border: none;
    border-radius: 500px;
    cursor: pointer;
}

.big-job-card-content {
    height: 100%;
    margin: 20px;
    padding: 20px;
    overflow-y: auto;
    height: 80%;
    width: 30vw;
    overflow-y: auto
}