.about-us-section {
    padding: 100px;
    margin: 0 50px;
}

.about-us-info {
    font-family: 'DM Sans';
    font-size: 1.75rem;
    width: 60%;
    line-height: 4rem;
}

.about-us-wrapper {
    display: flex;
    justify-content: center;
}