.home-background {
    background-color: #F5F4F0;
}

.section-image {
    width: 100%;
    
    height: 600px;
    object-fit: cover;
    object-position: center 32%;
} 
.review-cards {
    display: flex;
    justify-content: center;
    margin: 15px;
}