.Header {
    height: 64px;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    font-weight: 700;
}

.navigation-container {
    display: flex;
    gap: 16px;
}

.nav-button {
    color: black;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none; 
    cursor: pointer;
    font-weight: 600;
}

.nav-button:hover {
    cursor: pointer;
}


.navigation-container > * {
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.profile {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.profile:hover {
    cursor: pointer;
}
